.btn-link{
    &:link,&:visited,&:focus{
        border: 1px solid white;
        border-radius: 15px;
        color: white;
        padding: 0.5rem;
        font-size: 0.8rem;
        text-decoration: none;
        font-style: italic;
    }
    &:hover{
        background-color: white;
        color:$main-color;
    }
}