.l-footer{
    position: sticky;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.l-footer-button{
    position: sticky;
    width:100px;
    a{
        .other-btn-add{
            display: none;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 1rem;
        margin: 1.5rem;
    }
}
@media screen and (min-width:768px){
    .l-footer{
        width: 100%;
        margin: 3rem 0;
    }
    
    .l-footer-button{
        text-align: center;
    }
}